<html>
<body>

<h1> admins login page</h1>

<form name ="adminlogin" method = "post" action = "/admin/login">
<input type ="text" name = "adminname" id = "adminname"/>
<input type ="password" name = "adminpass" id = "adminpass"/>
<button type = "submit">Admin Login</button>

</form>
</body>
</html>