<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<title>Login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body ng-app="StrengthValidationApp" ng-controller="StrengthValidationCtrl">

<div class="w3-top">
  <div class="w3-bar w3-light-grey w3-card w3-right-align w3-large">
    <a href="http://localhost:4000" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
    <a href="http://localhost:4000/buy" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Buy Products</a>
    <a href="http://localhost:4000/sell" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Sell Products</a>
    <a href="http://localhost:4000/chat" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Chats</a>
    <a href=" http://localhost/forum/main_forum2.php" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Forum</a>
    <a href="http://localhost:4000/announcement" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Announcements</a>
    
  </div>
</div>


<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">COLLEGE COMMUNITY</h1>
  <p class="w3-xlarge">Anything and everything</p>
 
</header>


<!-- First Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="login">
    <h1>Login</h1>
          <form name="myform" name="myform" method="post" action="/login">
    <!--<input ng-model="emailaddr" required="true" id="email" autofocus="true" type="email" placeholder="Enter your Email-id" name="email" ng-model="mail"/><span ng-show="myform.myaddr.$error.email"/>Not a valid e-mail address</span>
    -->
    <input ng-model="emailaddr" required="true" id="email" autofocus="true" type="text" placeholder="Email-id/User-Name" name="email" ng-model="mail"/>
    <br><br>
     <input ng-model="password" required="true" id ="password" type="{{ typePassword ? 'text' : 'password' }}" name="password" placeholder="Enter your Password" ng-style="checkpwdStrength" ng-model="userPassword" ng-change="validationInputPwdText(userPassword)"/>
    <br><br>
    
    <p>{{message.data}}</p>
    <button id="loginbutt" ng-disabled="myform.$invalid" ng-model="login" class="btn btn-primary btn-block btn-large">Login</button>
    <br><br>
  </form>
  <button class="btn btn-primary w3-blue btn-block btn-large" ng-click="togglePassword()"><span>{{ typePassword ? 'Hide' : 'Show' }}</span> Password</button>
    <br><br>
    <p style="font-size: 100%;color: black;text-align: center;"> New User ? <a href="http://localhost:4000/register" style="color: black;">Signup</a> </p>
    </div>
   
   
  </div>
</div>

   


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity"> 
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Powered by <a href="www.pes.edu/">PES University</a></p>
</footer>



</body>

<script>
  var app = angular.module("StrengthValidationApp", []);
    app.controller("StrengthValidationCtrl", function($http, $scope) {

      var strongRegularExp = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
      var mediumRegularExp = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");

      $scope.checkpwdStrength = {
        "float": "left",
        "text-align": "left",
      };

      $scope.validationInputPwdText = function(value) {
        if (strongRegularExp.test(value)) {
          $scope.checkpwdStrength["background-color"] = "lightgreen";
        } else if (mediumRegularExp.test(value)) {
          $scope.checkpwdStrength["background-color"] = "lightblue";
        } else {
          $scope.checkpwdStrength["background-color"] = "Tomato";
        }
      };

      $scope.togglePassword = function () { 
        $scope.typePassword = !$scope.typePassword; 
      };

      $scope.checkcred = function(emailaddr, password){

    var data={
    
      email : emailaddr,
      pass : password
      };

    console.log(data);
    emailpass = emailaddr + "_" + password;
    $http.get("/api/verify"+ emailpass)
      .then(function(message){
        $scope.message = message; 
    });
      
    
      };

    });

  function performlogin(){

    var email = document.getElementById('email').value;
    var password = document.getElementById('password').value;
    fetch('/login', {
      method : 'POST',
      headers : {
        'Content-Type' : 'application/json'
      },
      credentials : 'include',
      body : JSON.stringify({
        email : email,
        password : password
      })
    }).then(function(response){
      return response.json();
    }).then(function(res){
      if(!res.success){
        alert("Wrong credentials, try again!");
      }

      else{
        window.location.href = '/';
      }
    }).catch(function(err){
      console.log(err)
    });
  }
  var loginbutton = document.getElementById('loginbutt');
  loginbutton.addEventListener('click', performlogin, false);
</script>

</html>

